/* GENERAL */
html, body {
    height: 100vh
} 

/* CONTENT */
.main {
	background-color: #e6e6e6;;
	height: 100%;
}
.header {
	background-color: #50c878; 
	padding: 20px;
}
.wrapper-content {
	height: 80%;
}
.menu {
	background-color: #dcdcdc; 
	margin: 0px; 
	padding: 20px;
	height: 70px;
}
.content {
	background-color: #e6e6e6; 
	padding: 20px;
}
.footer {
	background-color: #50c878; 
	padding: 10px 20px
}
.form-table {
	background-color: #dbd7d2
}
.theme-button {
	background-color: #50c878;
	color: white
}
@media(max-width: 344px) {
	input {
		width: 80%;
	}
}

/* scroll-table*/
.id-parent {
    position: relative;
    overflow: auto;
}

.id-child {
	width: 600px;
}
scrollbar-arrow-color: #fff; 
scrollbar-face-color: #50c878;
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    background-color: #50c878;
}